body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



.outlinePB
{
    color: #EAEAEA;
    font-weight: bold;
    text-shadow:
    1px 0 #111111,
    1px 1px #111111,
    0 1px #111111,
    -1px 0 #111111,
    -1px -1px #111111,
    0 -1px #111111,
    1px -1px #111111,
    -1px 1px #111111,
    2px 0 #666666,
    2px 2px #666666,
    0 2px #666666,
    -2px 0 #666666,
    -2px -2px #666666,
    0 -2px #666666,
    2px -2px #666666,
    -2px 2px #666666;
}

.outlineWR
{
    color: #FFD700;
    font-weight: bold;
    text-shadow:
    1px 0 #111111,
    1px 1px #111111,
    0 1px #111111,
    -1px 0 #111111,
    -1px -1px #111111,
    0 -1px #111111,
    1px -1px #111111,
    -1px 1px #111111,
    2px 0 #666666,
    2px 2px #666666,
    0 2px #666666,
    -2px 0 #666666,
    -2px -2px #666666,
    0 -2px #666666,
    2px -2px #666666,
    -2px 2px #666666;

}
