.Leaderboards-scroll {
  position: relative;
  top: 30px;
  z-index: 2;
}

/*semantic ui conflict for fixed header, will add later once the ui is updated*/

.Header-fixed {
  position: sticky;
  top: 30px;
  z-index: 4;
}
